In [59]:
import eco_connect
from eco_connect import FactsService

facts_service = FactsService()

In [60]:
s_date = '2018-1-1'
e_date = '2018-10-31'

In [61]:
df_data = facts_service.get_facts(
    building_id=60, 
    start_date='2017-8-1 8:00', 
    end_date='2018-9-30 8:00', 
    start_hour='8:00', 
    end_hour='9:00', 
    equipment_names=[], 
    equipment_types=[], 
    excluded_days=[], 
    excluded_dates=[], 
    point_classes=[], 
    eco_point_ids=[], 
    display_names=[], 
    native_names=[], 
    point_class_expression=[], 
    native_name_expression=[], 
    display_name_expression=[], 
    result_format='pandas'
    )

In [31]:
df_data.head(10)

,fact_time,fact_value,eco_point_id,equipment_name,point_class,native_name,display_name,equipment_type
0,2018-01-01 08:00,188.000,237618,1st_Floor,BoilerInletWaterTemperature,1ST-FL HOT WATER RETURN TEMPERATURE,HotWaterReturnTemp,HW
1,2018-01-01 08:05,187.750,237618,1st_Floor,BoilerInletWaterTemperature,1ST-FL HOT WATER RETURN TEMPERATURE,HotWaterReturnTemp,HW
2,2018-01-01 08:10,187.750,237618,1st_Floor,BoilerInletWaterTemperature,1ST-FL HOT WATER RETURN TEMPERATURE,HotWaterReturnTemp,HW
3,2018-01-01 08:15,187.500,237618,1st_Floor,BoilerInletWaterTemperature,1ST-FL HOT WATER RETURN TEMPERATURE,HotWaterReturnTemp,HW
4,2018-01-01 08:20,187.500,237618,1st_Floor,BoilerInletWaterTemperature,1ST-FL HOT WATER RETURN TEMPERATURE,HotWaterReturnTemp,HW
5,2018-01-01 08:25,187.500,237618,1st_Floor,BoilerInletWaterTemperature,1ST-FL HOT WATER RETURN TEMPERATURE,HotWaterReturnTemp,HW
6,2018-01-01 08:30,187.500,237618,1st_Floor,BoilerInletWaterTemperature,1ST-FL HOT WATER RETURN TEMPERATURE,HotWaterReturnTemp,HW
7,2018-01-01 08:35,187.250,237618,1st_Floor,BoilerInletWaterTemperature,1ST-FL HOT WATER RETURN TEMPERATURE,HotWaterReturnTemp,HW
8,2018-01-01 08:40,187.250,237618,1st_Floor,BoilerInletWaterTemperature,1ST-FL HOT WATER RETURN TEMPERATURE,HotWaterReturnTemp,HW
9,2018-01-01 08:50,187.375,237618,1st_Floor,BoilerInletWaterTemperature,1ST-FL HOT WATER RETURN TEMPERATURE,HotWaterReturnTemp,HW

In [27]:
df_data.tail(10)

,fact_time,fact_value,eco_point_id,equipment_name,point_class,native_name,display_name,equipment_type
540490,2018-05-22 08:15,25.1562,238437,SF09_2nd_to_8th_Perimeter,SupplyFanUnitFeedback,F-9 VFD Feedback,SupplyFanSpeedFeedback,AHU
540491,2018-05-22 08:20,0.0000,238437,SF09_2nd_to_8th_Perimeter,SupplyFanUnitFeedback,F-9 VFD Feedback,SupplyFanSpeedFeedback,AHU
540492,2018-05-22 08:25,50.3125,238437,SF09_2nd_to_8th_Perimeter,SupplyFanUnitFeedback,F-9 VFD Feedback,SupplyFanSpeedFeedback,AHU
540493,2018-05-22 08:30,50.3125,238437,SF09_2nd_to_8th_Perimeter,SupplyFanUnitFeedback,F-9 VFD Feedback,SupplyFanSpeedFeedback,AHU
540494,2018-05-22 08:35,50.3125,238437,SF09_2nd_to_8th_Perimeter,SupplyFanUnitFeedback,F-9 VFD Feedback,SupplyFanSpeedFeedback,AHU
540495,2018-05-22 08:40,50.3125,238437,SF09_2nd_to_8th_Perimeter,SupplyFanUnitFeedback,F-9 VFD Feedback,SupplyFanSpeedFeedback,AHU
540496,2018-05-22 08:45,50.3125,238437,SF09_2nd_to_8th_Perimeter,SupplyFanUnitFeedback,F-9 VFD Feedback,SupplyFanSpeedFeedback,AHU
540497,2018-05-22 08:50,50.3125,238437,SF09_2nd_to_8th_Perimeter,SupplyFanUnitFeedback,F-9 VFD Feedback,SupplyFanSpeedFeedback,AHU
540498,2018-05-22 08:55,50.3125,238437,SF09_2nd_to_8th_Perimeter,SupplyFanUnitFeedback,F-9 VFD Feedback,SupplyFanSpeedFeedback,AHU
540499,2018-05-22 09:00,50.3125,238437,SF09_2nd_to_8th_Perimeter,SupplyFanUnitFeedback,F-9 VFD Feedback,SupplyFanSpeedFeedback,AHU

In [69]:
df_point_mapping = facts_service.get_point_mapping(building_id = 60, result_format = 'pandas')
df_point_mapping.to_csv('point_mapping.csv', index = False)

In [33]:
df_equipments = facts_service.get_equipment(building_id = 60, result_format = 'pandas')
df_equipments.to_csv('equipments.csv', index = False)

In [34]:
df_native_names = facts_service.get_native_names(building_id = 60, result_format = 'pandas')
df_native_names.to_csv('native_names.csv', index = False)

In [62]:
df_native_names.head()
cond = df_native_names['native_name'].str.contains('Occupancy')
v_native_names_occupancy = list(df_native_names[cond].native_name.unique())

In [67]:
df_occ_data = facts_service.get_facts(
    building_id=60, 
    start_date=s_date + ' 0:00', 
    end_date=e_date + ' 0:00', 
    equipment_names=['VAV_05_01'], 
    equipment_types=[], 
    point_classes=[], 
    eco_point_ids=[], 
    display_names=[], 
    native_names=v_native_names_occupancy, 
    result_format='pandas'
    )

In [68]:
df_occ_data.to_csv(s_date + '~' + e_date + '_occ_data.csv', index = False)